body {
    z-index: 1;
    overflow-x: hidden;
}

#todo-list {
            margin: 20px;
            padding: 20px;
            border-width: 2px;
            border-radius: 25px;
    width: 80%;

        }



        .todo-text {
            display: inline;
            justify-content: left;

        }

        .todo-date-due {
            display: inline;
            justify-content: right;
        }

        .soft-border {
            border-top-style: solid;
            border-bottom-style: solid;
            border-color: lightgray;
            border-width: 2px;
        }

        .todo-item {
            padding: 6px;
            margin: -2px;
            align-items: center;
            justify-content: left;
        }

        .todo-edit {

            margin-top: 3px;

            background-color: transparent;
            border: none;
            color: grey;
        }

        .todo-edit:hover {
            color: blue;
        }

        .todo-delete {


            background-color: transparent;
            border: none;
            color: grey;
        }

        .todo-delete:hover {
            color: red;
        }

        #at-the-end-todo {
            display: flex;
            align-items: center;
            float: right;
            justify-content: end;
        }

        .todo-done {
            border-radius: 500px;
            background-color: transparent;
            border-style: solid;
            border-color: gray;
            border-width: 2px;
            height: 20px;
            width: 20px;
        }

        .todo-done:hover {
            background-color: rgb(179, 253, 232);
            border-color: #9a9a9a;
        }

        .add-todo {

            align-items: center;
            margin-left: 1%;
            padding-top: 10px;
            padding: 5px;

            padding-left: 20px;
            width: 95%;
            height: 60px;
            border-width: 2px;

            border-bottom-style: solid;
            border-color: lightgray;


        }

        #toevoegen-todo {
            height: 35px;
            border: none;
            width: 70%;
        }

        #toevoegen-todo:focus {
            outline: None;
        }

        .text-red {
            color: red;
        }

        .datepicker-toggle {

  position: relative;
  width: 18px;
  height: 19px;
}
.datepicker-toggle-button {

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.todo-toevoegen-right {
    display: flex;



    float: right;

}

#toevoegen-todo-tags-color {

}


.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.tags {
    padding-right: 10px;
}

.tag {
    border-radius: 25px;
    width: 40px;
    height: 10px;

}


/* Style the custom select container */
.custom-select {
    margin-right: 10px;
    right: 7.4%;
    z-index: 2;
  position: absolute;
  font-family: Arial;
}

/* Style the select-selected element */
.select-selected {
  background-color: #e0e0e0;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* Style the items (options), including the selected item */
.select-items div, .select-selected {
  color: black;
    display: flex;
  padding: 10px;
  cursor: pointer;
    z-index: 4;
    justify-content: center;
}

/* Hide the items when the select box is closed */
.select-hide {
  display: none;
}

/* Style the items (options) when they are being displayed */
.select-items div:hover, .same-as-selected {
  background-color: #d1d1d1;
}

#toevoegen-todo-button {
    background-color: transparent;
    border: none;
    color: grey;
    height: 40px;
}

#navbar2 {
    margin-top: 40px;
    width: 15%;
    z-index: 1;
}

.body-todo {

    z-index: 1;
    position: relative;
    width: 100%;
}

.todo-navbar-item {
            padding: 6px;
            margin: 1px;
            align-items: center;
            justify-content: left;
    border-radius: 4px;
        }

        .todo-navbar-item:hover {
            background-color: #f0f0f0;
        }

.todo-navbar-item.selected {
    background-color: rgba(255, 204, 204, 0.84);
}

.todo-navbar-text {
    margin-bottom: 0;
}