<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/15ba92b5cd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='agenda.css') }}">

    <title>Title</title>
    <style>


    </style>
</head>
<body>
<div class="grid-agenda">

<div class="agenda">
    <div class="empty-agenda-block-1-hour">
        <hr class="agenda-lines">
        <hr class="agenda-lines">
    </div>
    <div draggable="true" class="agenda-block-1-hour tranferable">
        <div class="agenda-block-1-hour-time">10:00</div>
        <div class="agenda-block-1-hour-event">Event 1</div>
    </div>
    <div draggable="true" class="agenda-block-1-hour tranferable">
        <div class="agenda-block-1-hour-time">11:00</div>
        <div class="agenda-block-1-hour-event">Event 2</div>
    </div>
    <div draggable="true" class="agenda-block-1-hour tranferable">
        <div class="agenda-block-1-hour-time">12:00</div>
        <div class="agenda-block-1-hour-event">Event 3</div>
    </div>
    <div class="empty-agenda-block-1-hour">
        <hr class="agenda-lines">
        <hr class="agenda-lines">
    </div>
</div>
    <div class="todo-items">
        <div draggable="true" class="todo-item tranferable">
            <div class="todo-item-title">Event 1</div>
            <div class="todo-item-description">Description 1</div>
        </div>
        <div draggable="true" class="todo-item tranferable">
            <div class="todo-item-title">Event 2</div>
            <div class="todo-item-description">Description 2</div>
        </div>
        <div draggable="true" class="todo-item tranferable">
            <div class="todo-item-title">Event 3</div>
            <div class="todo-item-description">Description 3</div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function handleDragStart(e) {
            this.style.opacity = '0.4';

            dragSrcEl = this;
            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }

        function handleDragEnd(e) {
            this.style.opacity = '1';

            items.forEach(function (item) {
                item.classList.remove('over');
            });
        }

        function handleDragOver(e) {
            e.preventDefault();
            return false;
        }

        function handleDragEnter(e) {
            this.classList.add('over');
        }

        function handleDragLeave(e) {
            this.classList.remove('over');
        }

        function handleDrop(e) {
            e.stopPropagation();
            if (dragSrcEl != this) {
                dragSrcEl.innerHTML = this.innerHTML;
                this.innerHTML = e.dataTransfer.getData('text/html');
            }
            return false;
        }

        let items = document.querySelectorAll('.tranferable');
        items.forEach(function(item) {
            item.addEventListener('dragstart', handleDragStart);
            item.addEventListener('dragover', handleDragOver);
            item.addEventListener('dragenter', handleDragEnter);
            item.addEventListener('dragleave', handleDragLeave);

            item.addEventListener('dragend', handleDragEnd);
            item.addEventListener('drop', handleDrop);
        });
        });
</script>
</body>
</html>