{% extends 'basis.html' %}

{% block title %}Todo{% endblock %}
{% block custom_imports_header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='todo.css') }}">
    <script src="{{ url_for('static', filename='js/todo.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>To Do</h1>
    <div class="add-todo">
        <form id="add-todo-form">
            <input type="text" id="toevoegen-todo" name="toevoegen" placeholder="pyweb maken">
            <div class="todo-toevoegen-right">
            <span class="datepicker-toggle">
                <span class="fa-regular fa-calendar-days"></span>
                <input type="datetime-local" id="toevoegen-todo-date" class="datepicker-input" name="toevoegen-date" value="{{ todo_time }}">
            </span>

            <input id='toevoegen-todo-button' type="submit" value="OK">
                </div>
        </form>
    </div>
    <div id="todo-list">
    <form id='todo-list-undone'>
    {% for todo in todolist %}
        <div id='todo-id-{{ todo.id }}'class="todo-item soft-border">
            <button type="submit" id='todo-done-{{ todo.id }}' class="todo-done" name="{% if todo.todo_done %}todo-done-back{% else %}todo-done{% endif %}" value="{{ todo.id }}"></button>
            {% if todo.todo_done %}
                <s><p class="todo-text">{{ todo.todo_text }}</p></s>
            {% else %}
                <p class="todo-text">{{ todo.todo_text }}</p>
            {% endif %}
            {% if todo.todo_date_overdue %}
            <p class="todo-text text-red">{{ todo.todo_date }}</p>
            {% else %}
            <p class="todo-text">{{ todo.todo_date }}</p>
            {% endif %}
            <button type="submit" class="todo-delete fa fa-trash-o" name="todo-delete" value="{{ todo.id }}"></button>
        </div>

    {% endfor %}
    </form>
    <form id='todo-list-done'>
    {% for todo in todolistdone %}
        <div class="todo-item soft-border">
            <button type="submit" class="todo-done" name="todo-done-back" value="{{ loop.index }}"></button>
            <s><p class="todo-text">{{ todo }}</p></s>
            <button type="submit" class="todo-delete fa fa-trash-o" name="todo-done-delete" value="{{ loop.index }}"></button>
        </div>

    {% endfor %}
    </form>
    </div>
{% endblock %}


