<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/15ba92b5cd.js" crossorigin="anonymous"></script>
    <title>To Do</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>

    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Todo</a></li>
            <li><a href="/">agenda</a></li>
            <li style="float: right"><a href="/account">account</a></li>
        </ul>
    </nav>
    <h1>To Do</h1>
    <div class="add-todo">
        <form id="add-todo-form">
            <input type="text" id="toevoegen-todo" name="toevoegen" placeholder="pyweb maken">
            <div class="todo-toevoegen-right">
            <span class="datepicker-toggle">
                <span class="fa-regular fa-calendar-days"></span>
                <input type="datetime-local" id="toevoegen-todo-date" class="datepicker-input" name="toevoegen-date">
            </span>

            <input id='toevoegen-todo-button' type="submit" value="OK">
                </div>
        </form>
    </div>
    <div id="todo-list">
    <form id='todo-list-undone'>
    {% for todo in todolist %}
        <div id='todo-id-{{ todo.id }}'class="todo-item soft-border">
            <button type="submit" id='todo-done-{{ todo.id }}' class="todo-done" name="{% if todo.todo_done %}todo-done-back{% else %}todo-done{% endif %}" value="{{ todo.id }}"></button>
            {% if todo.todo_done %}
                <s><p class="todo-text">{{ todo.todo_text }}</p></s>
            {% else %}
                <p class="todo-text">{{ todo.todo_text }}</p>
            {% endif %}
            {% if todo.todo_date_overdue %}
            <p class="todo-text text-red">{{ todo.todo_date }}</p>
            {% else %}
            <p class="todo-text">{{ todo.todo_date }}</p>
            {% endif %}
            <button type="submit" class="todo-delete fa fa-trash-o" name="todo-delete" value="{{ todo.id }}"></button>
        </div>

    {% endfor %}
    </form>
    <form id='todo-list-done'>
    {% for todo in todolistdone %}
        <div class="todo-item soft-border">
            <button type="submit" class="todo-done" name="todo-done-back" value="{{ loop.index }}"></button>
            <s><p class="todo-text">{{ todo }}</p></s>
            <button type="submit" class="todo-delete fa fa-trash-o" name="todo-done-delete" value="{{ loop.index }}"></button>
        </div>

    {% endfor %}
    </form>
    </div>
<script>
    $(document).ready(function () {

    //Add a todo item
    $('#add-todo-form').submit(function (e) {
        e.preventDefault();
        let todo_text = $('#toevoegen-todo').val();
        let todo_date = $('#toevoegen-todo-date').val();
        console.log(todo_text);
        console.log(todo_date);
        $.ajax({
            type: 'POST',
            url: '/submit',
            data: {
                toevoegen: todo_text,
                toevoegen_date: todo_date
            },
            success: function (data) {
                console.log(data);
                }
        });
    });
    //Delete a todo item
    $('#todo-list').on('click', '.todo-delete', function (e) {
        e.preventDefault();
        let todo_id = $(this).val();
        console.log(todo_id);
        $.ajax({
            type: 'POST',
            url: '/submit',
            data: {
                todo_delete: todo_id
            },
            success: function (data) {
                console.log(data);
            }
        });
    });

    //Toggle todo item done/undone
    $('#todo-list').on('click', 'button[name="todo-done"]', function (e) {
        e.preventDefault();
        let todo_id = $(this).val();
        console.log(todo_id);
        $.ajax({
            type: 'POST',
            url: '/submit',
            data: {
                todo_done: todo_id
            },
            success: function (data) {
                console.log(data);
            }
        });
    });

    //Toggle todo item undone/done
    $('#todo-list').on('click', 'button[name="todo-done-back"]', function (e) {
        e.preventDefault();
        let todo_id = $(this).val();
        console.log(todo_id);

        $.ajax({
            type: 'POST',
            url: '/submit',
            data: {
                todo_done_back: todo_id
            },
            success: function (data) {
                console.log(data);
            }
        });
    });

    $('#todo-list').on('click', 'button[name="todo-edit"]', function (e) {
        e.preventDefault();
        let todo_id = $(this).val();
        console.log(todo_id);
        let todo_text = $('#todo-id-' + todo_id + ' .todo-text').text();
        let todo_date = $('#todo-id-' + todo_id + ' .todo-date-due').text();
        console.log(todo_text);
        $('#todo-id-' + todo_id + ' .todo-text').replaceWith('<input type="text" id="edit-todo-' + todo_id + '" value="' + todo_text + '">');
        $('#todo-id-' + todo_id + ' .todo-date-due').replaceWith('<input type="datetime-local" id="edit-todo-date-' + todo_id + '" value="' + todo_date + '">');
        $('#todo-id-' + todo_id + ' .todo-edit').replaceWith('<button type="submit" class="todo-edit-save" name="todo-edit-save" value="' + todo_id + '">Save</button>');
    });

    $('#todo-list').on('click', 'button[name="todo-edit-save"]', function (e) {
        e.preventDefault();
        let todo_id = $(this).val();
        console.log(todo_id);
        let todo_text = $('#edit-todo-' + todo_id).val();
        console.log(todo_text);
        let todo_date = $('#edit-todo-date-' + todo_id).val();
        $.ajax({
            type: 'POST',
            url: '/submit',
            data: {
                todo_id: todo_id,
                todo_edit_text: todo_text,
                todo_edit_date: todo_date
            },
            success: function (data) {
                console.log(data);
            }
        });
    });






 //connect to server
  let socket = io.connect();
    //receive details from server
    socket.on('refreshTodoList', function(msg) {
        console.log("Received message");
        //console.log(msg);
        const jsonString = JSON.stringify(msg)
        let todo = JSON.parse(jsonString);
        // for each todo item create a div element
        console.log('Printing todo');
        //let form = '<form method="POST">';
        //$("#todo-list").append(form);
        for(let i = 0; i < Object.keys(todo).length; i++){
    // if button exists with same todo id, remove it
            if($('#todo-id-' + todo[i].id).length){
                $('#todo-id-' + todo[i].id).remove();
            }
            let todo_toggle_button;
            let todo_date;
            let todo_list;
            if (todo[i].todo_done){
                todo[i].todo_text = '<s>' + todo[i].todo_text + '</s>';
                todo_toggle_button = '<button type="submit" class="todo-done" name="todo-done-back" value="' + todo[i].id + '">'
                todo_list = "#todo-list-done";
            }
            else {
                todo[i].todo_text = todo[i].todo_text;
                todo_toggle_button = '<button type="submit" class="todo-done" name="todo-done" value="' + todo[i].id + '">'
                todo_list = "#todo-list-undone";
            }
            if (todo[i].todo_date_overdue){
                todo_date = '<p class="todo-date-due text-red">' + todo[i].todo_date + '</p>';
            }
            else {
                todo_date = '<p class="todo-date-due">' + todo[i].todo_date + '</p>';
            }

            let todo_item = '<div id="todo-id-'+ todo[i].id + '" class="todo-item soft-border">' +
                todo_toggle_button +
                '</button><p class="todo-text"> ' + todo[i].todo_text + ' ' +
                '</p>' +
                todo_date +
                '<button type="submit" class="todo-edit fa-solid fa-pen" name="todo-edit" value="' + todo[i].id + '"' + '</button>' +
                '<button type="submit" class="todo-delete fa fa-trash-o" name="todo-delete" value="' + todo[i].id + '">' +
                '</button></div>';
            $(todo_list).append(todo_item);

            //console.log('cycle complete')
        }
        //let form_end = '</form>';
        //$("#todo-list").append(form_end);
    });
    socket.on('updateTodoList', function(msg) {
        console.log("Received message");
        //console.log(msg);
        const jsonString = JSON.stringify(msg)
        let todo = JSON.parse(jsonString);
        let todo_item = '<div class="todo-item soft-border"><button type="submit" class="todo-done" name="todo-done" value="' + todo.id + '"></button><p class="todo-text">' + todo.todo_text + '</p><button type="submit" class="todo-delete fa fa-trash-o" name="todo-delete" value="' + todo.id + '"></button></div>';
        $("#todo-list").append(todo_item);
    });
    socket.on('removeTodo', function(msg) {
        console.log("Remove message recieved");
        //console.log(msg);
        //const jsonString = JSON.stringify(msg)
        //let todo = JSON.parse(jsonString);
        $('#todo-id-' + msg).remove();
    });
 });
</script>
</body>
</html>